[Desktop Entry]
Version=1.0
Name=Facebook
Comment=Web Social Utility
GenericName=Facebook
Exec=tableware http://facebook.com/
Type=WebApp
Icon=facebook
URL=http://facebook.com/
