[Desktop Entry]
Version=1.0
Name=Google Calendar
Comment=Web Calendar
GenericName=Google Calendar
Type=WebApp
Icon=gcalendar
URL=http://calendar.google.com/
