[Desktop Entry]
Type=Application
Version=1.0
Name=Geany
Name[be]=Geany
Name[bg]=Geany
Name[ca]=Geany
Name[cs]=Geany
Name[de]=Geany
Name[el]=Geany
Name[en_GB]=Geany
Name[es]=Geany
Name[fi]=Geany
Name[fr]=Geany
Name[hu]=Geany
Name[it]=Geany
Name[ja]=Geany
Name[ko]=지니
Name[nl]=Geany
Name[pl]=Geany
Name[pt_BR]=Geany
Name[ro]=Geany
Name[ru]=Geany
Name[sv]=Geany
Name[tr]=Geany
Name[uk]=Geany
Name[vi]=Geany
Name[zh_CN]=Geany
GenericName=Text Editor
GenericName[be]=Інтэграванае асяродьдзе распрацоўкі
GenericName[bg]=Вградена среда за разработка
GenericName[ca]=Entorn Integrat de Desenvolupament
GenericName[cs]=Integrované vývojové prostředí
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[el]=Ενιαίο Περιβάλλον Ανάπτυξης
GenericName[en_GB]=Integrated Development Environment
GenericName[es]=Entorno Integrado de Desarrollo
GenericName[fi]=Integroitu Ohjelmointiympäristö
GenericName[fr]=Environnement de Développement Intégré
GenericName[hu]=Integrált Fejlesztői Felület
GenericName[it]=Ambiente di sviluppo integrato
GenericName[ja]=統合開発環境
GenericName[ko]=통합 개발 환경
GenericName[pl]=Zintegrowane środowisko programistyczne
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado
GenericName[ro]=Mediu de dezvoltare
GenericName[ru]=Интегрированная среда разработки
GenericName[sv]=Integrerad utvecklingsmiljö
GenericName[tr]=Tümleşik Geliştirme Ortamı
GenericName[uk]=Об'єднане середовище розробки
GenericName[vi]=Môi trường Phát triển Hợp nhất
GenericName[zh_CN]=集成开发环境
Comment=A fast and lightweight IDE using GTK2
Comment[be]=Хуткае і легкая асяродзе распрацоўкі выкарыстоўваючае GTK2
Comment[ca]=Un IDE lleuger i veloç que usa GTK2
Comment[cs]=Rychlé a lehké IDE pro GTK2
Comment[de]=Eine kleine und schnelle Entwicklungsumgebung für GTK2
Comment[el]=Γρήγορο και ελαφρύ GTK2 IDE
Comment[en_GB]=A fast and lightweight IDE using GTK2
Comment[es]=Un IDE rápido y liviano basado en GTK2
Comment[fi]=Nopea ja kevyt ohjelmointiympäristö
Comment[fr]=Un EDI rapide et léger utilisant GTK2
Comment[hu]=Gyors és pehelykönnyű IDE GTK2 alapokon
Comment[it]=Un IDE veloce e leggero che usa GTK2
Comment[ja]=GTK2 を用いた高速で軽量な IDE
Comment[ko]=빠르고 가벼운 GTK2 기반의 통합개발환경
Comment[pl]=Geany - szybkie i lekkie środowisko programistyczne
Comment[pt_BR]=Um IDE rápido e leve usando GTK2
Comment[ro]=Un IDE rapid folosind GTK2
Comment[ru]=Быстрая и легковесная среда разработки, использующая GTK2
Comment[sv]=Ett snabbt och lättviktigt IDE som använder GTK2
Comment[tr]=GTK2 kullanan hızlı ve hafif bir IDE
Comment[uk]=Швидке та легке графічне середовище, що використовує GTK2
Comment[vi]=Một IDE nhanh và nhẹ nhàng dùng GTK2
Comment[zh_CN]=一个使用 GTK2 编写的轻快的IDE
Exec=geany %F
Icon=geany
Terminal=false
Categories=GTK;Development;IDE;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php*;application/xml;text/html;text/css;text/x-sql;text/x-diff;
StartupNotify=true
