[Desktop Entry]
Encoding=UTF-8
Name=gFTP
Comment=Download and upload files using multiple file transfer protocols
GenericName=gFTP
Exec=gftp %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=gftp
Categories=Application;Network;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gftp
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.0.19
X-Ubuntu-Gettext-Domain=gftp
