[Desktop Entry]
Version=1.0
Name=Restart Plate UI
Comment=reload
GenericName=Restart Plate UI
Type=WebApp
Icon=reload
URL=javascript:window.parent.location.reload();
