<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="../jquery-1.3.2.js"></script>
<script type="text/javascript" src="../plate.js"></script>
<script type="text/javascript">

function backup() {
system('/usr/local/bin/xpud-backup ' + $('#dir').val());
}

function restore() {
system('/usr/local/bin/load_data ' + $('#f').val());
}

</script>
</head>

<body onload="system('/usr/local/bin/get_mnt'); update_div_ife('dir', '/tmp/mnt.opt');">
<div style="margin: 20px auto; width: 400px;">
<h2 style="border-bottom: 1px gray solid;">Backup data and changes</h2>

<div style="margin-left: 20px;">

<p>Backup to:</p>
<select id="dir"></select>
<p>
<input type="button" value="Backup" onclick="backup(); $(this).attr('disabled', 'disabled'); $(this).attr('value', 'Done.');" />
</p>

<p>Restore from:</p>

<input type="file" id="f" />

<p>
<input type="button" value="Restore" onclick="restore(); $(this).attr('disabled', 'disabled'); $(this).attr('value', 'Done.');" />
</p>
</div>

</body>
</html>
