<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../style.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=big5" />
		<style>
			a { color: black; 
			    text-decoration: none; }

			a:hover { text-decoration: none; }
		</style>
		<script type="text/javascript" src="../plate.js">
		</script>
	</head>
	<body style="margin-left: 10px; background: white; ">
		<h2>System</h2>
		<table style="width: 100%;" class = "sector">
		<tr>
			<td style="width: 33%;">
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/karm.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Time</strong><br />Update the system clock</p></td></tr></table>
			</a>
			</td>
			<td style="width: 33%;">
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/usbpendrive_unmount.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Backup</strong><br />Persistent mechanism</p></td></tr></table>
			</a>
			</td>
			<td>
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/kcmdf.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Opt-Get</strong><br />Get more applications</p></td></tr></table>
			</a>
			</td>
		</tr>
		</table>
		<h2>Network</h2>
		<table style="width: 100%;" class = "sector">
		<tr>
			<td style="width: 33%;">
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/internet_connection_tools.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Internet</strong><br />Setup internet connection</p></td></tr></table>
			</a>
			</td>
			<td style="width: 33%;">
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/sharemanager.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Share</strong><br />Sharing files with others</p></td></tr></table>
			</a>
			</td>
			<td>
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/firewall.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Firewall</strong><br />Protect your system</p></td></tr></table>
			</a>
			</td>
		</tr>
		</table>
		<h2>Hardware</h2>
		<table style="width: 100%;" class = "sector">
		<tr>
			<td style="width: 33%;">
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/mouse.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Mouse</strong><br />Configure the input device</p></td></tr></table>
			</a>
			</td>
			<td style="width: 33%;">
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/klaptop.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Screen</strong><br />Change screen resolution</p></td></tr></table>
			</a>
			</td>
			<td>
			<a href="fixme.html" onfocus = "this.blur()">
			<table style="width: 100%;vertical-align: middle;"><tr><td>
			<img src="../image/kmixdocked.png" style="float:left;vertical-align:middle;"/></td><td>
			<p><strong>Sound</strong><br />Adjust system sound</p></td></tr></table>
			</a>
			</td>
		</tr>
		</table>
	</body>
</html>
