<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="../custom-buttons-3.1.css" />
<script type="text/javascript" src="../jquery-1.4.min.js"></script>
<script type="text/javascript" src="../plate.js"></script>
<script type="text/javascript">

function send_static() {
system('/usr/local/bin/get_static ' + $('#ip').val() + ' ' + $('#mask').val() + ' ' + $('#gateway').val() + ' ' + $('#dns').val());
}

function send_adsl() {

system('/usr/local/bin/get_adsl ' + $('#username').val() + ' ' + $('#password').val());

}

</script>
</head>

<body>
<div style="margin: 20px auto; width: 400px;">
<h2 style="border-bottom: 1px gray solid;">Wired Network</h2>

<div style="margin-left: 20px;">
<input type="radio" name="group1" id="dhcp" onclick="$('.info').hide(); $('#dhcp-info').toggle('normal');"><label for="dhcp">DHCP</label><br />
<input type="radio" name="group1" id="static" onclick="$('.info').hide(); $('#static-info').toggle('normal');"><label for="static">Static IP</label><br />
<input type="radio" name="group1" id="adsl" onclick="$('.info').hide(); $('#adsl-info').toggle('normal');"><label for="adsl">ADSL (PPPoE)</label>
</div>


<p id="dhcp-info" style="display: none;" class="info">

<br />
<a href="#" class="btn primary" onclick="system('udhcpc'); window.parent.location.reload();" /><span><span><b>&nbsp;</b><u>Connect</u></span></span></a>

</p>

<p id="static-info" style="display: none;" class="info">
<label for="ip">IP Address</label><br />
<input id="ip" type="text" size="14" /><br />
<label for="mask">Netmask</label><br />
<input id="mask" type="text" size="14" value="255.255.255.0" /><br />
<label for="gateway">Gateway</label><br />
<input id="gateway" type="text" size="14" /><br />
<label for="dns">DNS Server</label><br />
<input id="dns" type="text" size="14" value="168.95.1.1" /><br />
<br />
<a href="#" class="btn primary" onclick="send_static(); window.parent.location.reload();" /><span><span><b>&nbsp;</b><u>Connect</u></span></span></a>
</p>

<p id="adsl-info" style="display: none;" class="info">
<label for="username">Username</label><br />
<input id="username" type="text" size="22" /><br />
<label for="password">Password</label><br />
<input id="password" type="password" size="22" /><br />
<br />
<a href="#" class="btn primary" onclick="send_adsl(); window.parent.location.reload();"><span><span><b>&nbsp;</b><u>Connect</u></span></span></a>

</p>

<br />


</div>

</body>
</html>
