	<h2><span class="i18n">application</span></h2>
	<table class="soft_background orange">
	<tr>
				<td>
				<a href="#" id="browser" onclick="show_program(&quot;firefox.pud5&quot;);" onfocus = "this.blur()">
					<table><tr><td class="image">
						<img src="image/firefox4.png" onload="resume_notify(this,'firefox.pud5');" />
						<div class="notify_hide"><div></div></div>
					</td><td>
						<strong><span class="i18n">web_browser</span></strong><br />
						firefox
					</td></tr></table>
				</a>
				</td>

				<td>
				<a href="#" id="transmission" onclick="show_program(&quot;transmission.pud2&quot;);" onfocus = "this.blur()"> 
					<table><tr><td class="image">
						<img src="image/transmission.png" onload="resume_notify(this,'transmission.pud2');" />
						<div class="notify_hide"><div></div></div>
					</td><td>
						<strong><span class="i18n">bt_client</span></strong><br />
						transmission
					</td></tr></table>
				</a>
				</td>

	</tr>
	<tr>
                <td>
                <a href="#" onclick="show_program(&quot;mplayer.pud3&quot;);" onfocus = "this.blur()">

                        <table><tr><td class="image">
                                <img src="image/noatun.png" onload="resume_notify(this,'mplayer.pud3');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong><span class="i18n">media_player</span></strong><br />
                                gnome-mplayer
                        </td></tr></table>
                </a>
                </td>
                
                <td>
                <a href="#" onclick="system('gpicview');" onfocus = "this.blur()">
                        <table><tr><td class="image">
                                <img src="image/colors.png" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong><span class="i18n">picture_viewer</span></strong><br />
                                gpicview
                        </td></tr></table>
                </a>
                </td>

	</tr>	
	<tr>
                <td>
                <a href="#" onclick="show_program(&quot;geany.pud4&quot;);" onfocus = "this.blur()">
                        <table><tr><td class="image">
                                <img src="image/kedit.png" onload="resume_notify(this,'geany.pud4');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong><span class="i18n">text_editor</span></strong><br />
                                geany
                        </td></tr></table>
                </a>
                </td>
<!--                
                <td>
                <a href="#" onclick="show_program(&quot;epdfview.pud6&quot;,event);" onfocus = "this.blur()"> 
                        <table><tr><td class="image">
                                <img src="image/acroread.png" onload="resume_notify(this,'epdfview.pud6');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong><span class="i18n">pdf_viewer</span></strong><br />
                                epdfview 
                        </td></tr></table>
                </a>
                </td>

	</tr>
	<tr>
-->
                <td>
                <a href="#" onclick="show_program(&quot;xterm.pud1&quot;,event);" onfocus = "this.blur()"> 
                        <table><tr><td class="image">
                                <img src="image/konsole.png" onload="resume_notify(this,'xterm.pud1');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong><span class="i18n">terminal_emulator</span></strong><br />
                                xterm 
                        </td></tr></table>
                </a>
                </td>
                
	</tr>
	</table>
