	<h2>Applications</h2>
	<table class="soft_background orange">
	<tr>
		<td>
	<!--
	<a href="#" onclick="system('firefox');" onfocus = "this.blur()"> -->

		<a href="#" id="browser" onclick="select_tab(this);" onfocus = "this.blur()"> 
			<table><tr><td class="image">
				<img src="image/firefox4.png" onload="resume_notify(this,'firefox.pud4');" />
				<div class="notify_hide"><div></div></div>
			</td><td>
				<strong>Web Browser</strong><br />
				firefox
			</tr></table>
		</a>
		</td>

		<td>

		<a href="#" id="transmission" onclick="show_program(&quot;transmission.pud2&quot;);" onfocus = "this.blur()"> 
			<table><tr><td class="image">
				<img src="image/transmission.png" onload="resume_notify(this,'transmission.pud2');" />
				<div class="notify_hide"><div></div></div>
			</td><td>
				<strong>BitTorrent Client</strong><br />
				transmission
			</tr></table>
		</a>
		</td>

	</tr>

	<tr>
                <td>
<!--                <a href="#" onclick="system('leafpad');" onfocus = "this.blur()">
-->
                <a href="#" onclick="show_program(&quot;mplayer.pud3&quot;);" onfocus = "this.blur()">

                        <table><tr><td class="image">
                                <img src="image/noatun.png" onload="resume_notify(this,'mplayer.pud3');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong>Media Player</strong><br />
                                gnome-mplayer
                        </tr></table>
                </a>
                </td>
                
                
                <td>
                <a href="#" onclick="system('gpicview');" onfocus = "this.blur()">
                        <table><tr><td class="image">
                                <img src="image/colors.png" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong>Picture Viewer</strong><br />
                                gpicview
                        </tr></table>
                </a>
                </td>


	</tr>	<tr>
                <td>
                <a href="#" onclick="show_program(&quot;leafpad.pud4&quot;);" onfocus = "this.blur()">
                        <table><tr><td class="image">
                                <img src="image/kedit.png" onload="resume_notify(this,'leafpad.pud4');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong>Text Editor</strong><br />
                                leafpad
                        </tr></table>
                </a>
                </td>
                
                <td>
                <a href="#" onclick="show_program(&quot;xterm.pud1&quot;,event);" onfocus = "this.blur()"> 
<!--		<a href="#" onclick="system('xterm');" onfocus = "this.blur()"> -->
                        <table><tr><td class="image">
                                <img src="image/konsole.png" onload="resume_notify(this,'xterm.pud1');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong>Terminal</strong><br />
                                xterm 
                        </tr></table>
                </a>
                </td>

	</tr>
	</table>
