<h3><span class="i18n">help_about</span></h3>

<p><span class="i18n">help_info</span></p>

<p>
<ul>
<li><strong>Project Website</strong><br />http://www.xpud.org
<li><strong>Forum</strong><br />http://groups.google.com/group/pud-linux
<li><strong>Source Code</strong><br />http://github.com/penk/mkxpud
<li><strong>Bug Tracker</strong><br />http://code.google.com/p/xpud/issues/list
<li><strong>IRC Channel</strong><br />#xpud on irc.freenode.net
</ul>
<button style="float: right;" onclick="cover();"><span class="i18n">help_done</span></button>
</p>
