<h3>About</h3>

<p>xPUD is a rapidly developing open source project. <br />
For more information, please go to:</p>

<p>
<ul>
<li><strong>Project Website</strong><br />http://www.xpud.org
<li><strong>Forum</strong><br />http://groups.google.com/group/pud-linux
<li><strong>Source Code</strong><br />http://github.com/penk/mkxpud
<li><strong>Bug Tracker</strong><br />http://code.google.com/p/xpud/issues/list
<li><strong>IRC Channel</strong><br />#xpud on irc.freenode.net
</ul>
<a href="#" style="float: right; font-size: 100%;" onclick="cover();">Done</a>
</p>
