<h1 style="text-shadow:2px 2px 4px #C0C0C0;"><span class="i18n">welcome</span></h1>

	<h2 style="margin-bottom: 30px;"><span class="i18n">sys_info</span></h2>
	<p></p>
	
	<table class="soft_background green" id="sysinfo" style="height: 100px;">
	<tr>
	<td align="center"><img src="image/load.gif" style="margin: 19px;" /></td>
	</tr>
	</table>
	
	<h2 style="margin-top: 30px; margin-bottom: 30px;"><span class="i18n">quick_action</span></h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="system('/usr/local/bin/get_ssid'); sleep(50); popup('wifi-p'); update_div('ap-option', '/tmp/wifi.opt'); update_div('nic', '/tmp/wifi.dev');">
			<table><tr><td class="image">
				<img src="image/wlassistant.png" />
			</td><td>
				<strong><span class="i18n">setting_wifi</span></strong><br />
				<span class="i18n">setting_wifi_desc</span>
			</tr></table>
		</a>
		</td>
		
		<!--
		<td>
		<a href="#" onclick="popup('help');" onfocus="this.blur()">
			<table><tr><td class="image">
					<img src="image/assistant.png" />
			</td><td>
					<strong><span class="i18n">get_help</span></strong><br />
					<span class="i18n">get_help_desc</span>
			</tr></table>
		</a>
		</td>

	</tr>
	<tr>
	-->
		<td>
		<a href="#" onclick="popup('shutdown');" onfocus="this.blur()">
			<table><tr><td class="image">
					<img src="image/logout.png" />
			</td><td>
					<strong><span class="i18n">power_off</span></strong><br />
					<span class="i18n">power_off_desc</span>
			</tr></table>
		</a>
		</td>
<!--
		<td>
		<a href="#" onclick="system('boot-to-win');" onfocus="this.blur()">
			<table><tr><td class="image">
					<img src="image/cinemadisplay.png" />
			</td><td>
					<strong><span class="i18n">switch_mode</span></strong><br />
					<span class="i18n">switch_mode_desc</span> 
			</tr></table>
		</a>
		</td>
	-->
	</tr>
	</table>
