	<h2><span class="i18n">welcome</span></h2>
	<p>"It's not just what it looks like and feels like. Design is how it works." - Steve Jobs</p>
	<table class="soft_background green"><tr>
	<td>
		<img src="image/ksysv.png" style="float: left; margin-bottom: 25px;" />
		<strong><span class="i18n">sys_info</span></strong><br />
		<div id="sysinfo" style="margin: 10px;"><img src="image/load.gif" style="margin: 15px;" /></div>
	</td>

	</tr>



</table>
	<h2><span class="i18n">want_to</span></h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="popup('wifi-p'); system('/usr/local/bin/get_ssid'); sleep(50); update_div('ap-option', '/tmp/wifi.opt'); update_div('nic', '/tmp/wifi.dev'); document.getElementById('passwd').disabled=true;">		
			<table><tr><td class="image">
				<img src="image/wlassistant.png" />
			</td><td>
				<strong><span class="i18n">setting_wifi</span></strong><br />
				<span class="i18n">setting_wifi_desc</span>
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onclick="popup('help');" onfocus="this.blur()">
			<table><tr><td class="image">
					<img src="image/assistant.png" />
			</td><td>
					<strong><span class="i18n">get_help</span></strong><br />
					<span class="i18n">get_help_desc</span>
			</tr></table>
		</a>
		</td>

	</tr>
	<tr>
		<td>
		<a href="#" onclick="popup('shutdown');" onfocus="this.blur()">
			<table><tr><td class="image">
					<img src="image/logout.png" />
			</td><td>
					<strong><span class="i18n">power_off</span></strong><br />
					<span class="i18n">power_off_desc</span>
			</tr></table>
		</a>
		</td>

		<td>
<!--		<a href="#" onclick="" onfocus="this.blur()"> -->
			<table class="disabled_b"><tr><td class="image">
					<img src="image/cinemadisplay.png" />
			</td><td>
					<strong><span class="i18n">switch_mode</span></strong><br />
					<span class="i18n">switch_mode_desc</span> 
			</tr></table>
<!--		</a> -->
		</td>
	</tr>
	</table>
