<html>
<head>
<script src="/usr/share/plate/protoflow/lib/prototype.js" type="text/javascript"></script>
<script src="/usr/share/plate/protoflow/lib/scriptaculous.js" type="text/javascript"></script>
<script src="/usr/share/plate/protoflow/lib/reflection.js" type="text/javascript"></script>
<script src="/usr/share/plate/protoflow/protoFlow.js" type="text/javascript"></script>
<link rel="stylesheet" href="/usr/share/plate/protoflow/protoFlow.css" type="text/css"/>

<script type="text/javascript" src="../plate.js" ></script>
<script language="Javascript">
	Event.observe(window, 'load', function() {
		cf = new ProtoFlow($("protoflow"), {
		captions: true, 
		useReflection: true,
		enableOnClickScroll: true
		});
	});
</script>
<style>
img { border: 0px white solid; }
</style>
</head>
<body>
<div id="protoflow" style="width: 90%;">

<a href="file:////bin" ondblclick="system('/root/plate/utils/geniconview.pl //bin'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="bin" /></a>
<a href="file:////boot" ondblclick="system('/root/plate/utils/geniconview.pl //boot'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="boot" /></a>
<a href="file:////casper" ondblclick="system('/root/plate/utils/geniconview.pl //casper'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="casper" /></a>
<a href="file:////cdrom" ondblclick="system('/root/plate/utils/geniconview.pl //cdrom'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="cdrom" /></a>
<a href="file:////cow" ondblclick="system('/root/plate/utils/geniconview.pl //cow'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="cow" /></a>
<a href="file:////dev" ondblclick="system('/root/plate/utils/geniconview.pl //dev'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="dev" /></a>
<a href="file:////etc" ondblclick="system('/root/plate/utils/geniconview.pl //etc'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="etc" /></a>
<a href="file:////home" ondblclick="system('/root/plate/utils/geniconview.pl //home'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="home" /></a>
<a href="file:////initrd" ondblclick="system('/root/plate/utils/geniconview.pl //initrd'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="initrd" /></a>
<a href="file:////lib" ondblclick="system('/root/plate/utils/geniconview.pl //lib'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="lib" /></a>
<a href="file:////media" ondblclick="system('/root/plate/utils/geniconview.pl //media'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="media" /></a>
<a href="file:////mnt" ondblclick="system('/root/plate/utils/geniconview.pl //mnt'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="mnt" /></a>
<a href="file:////opt" ondblclick="system('/root/plate/utils/geniconview.pl //opt'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="opt" /></a>
<a href="file:////proc" ondblclick="system('/root/plate/utils/geniconview.pl //proc'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="proc" /></a>
<a href="file:////rofs" ondblclick="system('/root/plate/utils/geniconview.pl //rofs'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="rofs" /></a>
<a href="file:////root" ondblclick="system('/root/plate/utils/geniconview.pl //root'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="root" /></a>
<a href="file:////sbin" ondblclick="system('/root/plate/utils/geniconview.pl //sbin'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="sbin" /></a>
<a href="file:////srv" ondblclick="system('/root/plate/utils/geniconview.pl //srv'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="srv" /></a>
<a href="file:////sys" ondblclick="system('/root/plate/utils/geniconview.pl //sys'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="sys" /></a>
<a href="file:////tmp" ondblclick="system('/root/plate/utils/geniconview.pl //tmp'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="tmp" /></a>
<a href="file:////usr" ondblclick="system('/root/plate/utils/geniconview.pl //usr'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="usr" /></a>
<a href="file:////var" ondblclick="system('/root/plate/utils/geniconview.pl //var'); sleep(100); window.location.reload();">
<img src="/root/plate/image/folder.png" alt="var" /></a>
</body></html>
