<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="../jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../plate.js"></script>
<script type="text/javascript">

function set_locale() {
system('/usr/local/bin/set_locale ' + $('#uilang').val() + ' ' + $('#kmap').val());
}

</script>
</head>

<body>
<div style="margin: 20px auto; width: 400px;">
<h2 style="border-bottom: 1px gray solid;">Language Setting</h2>

<div style="margin-left: 20px;">

<p>Language:</p>

<select id="uilang">
<option value="en" selected>English</option>
<option value="fr">French</option>
<option value="de">German</option>
<option value="jp">Japanese</option>
<option value="pt">Portuguese</option>
<option value="ru">Russian</option>
<option value="es">Spanish</option>
<option value="se">Swedish</option>
<option value="zh">Chinese (Traditional)</option>
<option value="zh_cn">Chinese (Simplified)</option>
</select>

<p>Keyboard layout:</p>

<select id="kmap">
<option value="en" selected>English (en)</option>
<option value="be">Belgian (be)</option>
<option value="ca">Canadian (ca)</option>
<option value="dvorak">Dvorak</option>
<option value="uk">English (uk)</option>
<option value="fr">French (fr)</option>
<option value="fr_CH">Swiss French (fr_CH)</option>
<option value="de">German (de)</option>
<option value="gr">Greek (gr)</option>
<option value="it">Italian (it)</option>
<option value="jp">Japanese (jp)</option>
<option value="no">Norwegian (no)</option>
<option value="pt-latin1">Portuguese (pt)</option>
<option value="ru">Russian (ru)</option>
<option value="sv-latin1">Swedish (sv)</option>
<option value="es">Spanish (es)</option>
</select>

<p>
<input type="button" value="Change" onclick="set_locale(); $(this).attr('disabled', 'disabled'); $(this).attr('value', 'Done.');" />
</p>
</div>

</body>
</html>
