<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="../jquery-1.3.2.js"></script>
<script type="text/javascript" src="../plate.js"></script>
</head>

<body>
<div style="margin: 20px auto; width: 500px;">
<h2 style="border-bottom: 1px gray solid;">Get more applications</h2>

<div style="margin-left: 20px;">

<p>The following applications are available to download and install:</p>
<small>Application name (download size / installed size)</small>
<p>
<label>Adobe Flash plugin (3.8MB/9.7MB) </label><input type="button" value="Install" onclick="$(this).attr('disabled', 'disabled'); system('xterm -e usr/local/bin/get_flash');" /><br />
<label>Skype (20.6MB/25.9MB) </label><input type="button" value="Install" onclick="$(this).attr('disabled', 'disabled'); system('xterm -e usr/local/bin/get_skype');" /><br />
<label>Media codecs and browser plugins (15MB/33MB) </label><input type="button" value="Install" onclick="$(this).attr('disabled', 'disabled'); system('xterm -e usr/local/bin/get_codecs');" /><br />
</p>
</div>

</body>
</html>
