<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="../jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../plate.js"></script>
<script type="text/javascript">
	var tempImage;

	function checkOnlineStatus() {
		tempImage = new Image();
		tempImage.onload = returnOnlineStatus;
		tempImage.onerror = returnOfflineStatus;
		// FIXME: put some small image on server which won't get deleted in the development process
		var imgSrc = 'http://www.xpud.org/opt/icons/hardware.png';        // this must point to the url of a valid image.
		tempImage.src = imgSrc + '?randParam=' + new Date().getTime();        // add cache busting
		}

        function returnOnlineStatus() {
            if (tempImage.width == 0 && tempImage.height == 0) {
                returnOfflineStatus();
            } else {
                window.location = 'http://www.xpud.org/opt/';
            }
        }

        function returnOfflineStatus() {
            document.getElementById('opt-get').innerHTML = '<p>Offline OPT package installation:</p><input type="file" id="f" /><p><input type="button" value="Install" onclick="installopt();" /></p>';
        }

    function installopt() {
		system('/usr/local/bin/opt-get ' + $('#f').val());
}
    </script>
</head>

<body onload="checkOnlineStatus();">
<div style="margin: 20px auto; width: 500px;">
<h2 style="border-bottom: 1px gray solid;">Get more applications</h2>

<div id="opt-get" style="margin-left: 20px;">
<p align="center"><img src="../image/load.gif" style="margin: 19px;" /></p>
</div>

</body>
</html>
