	<h2>System</h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/karm.png" />
			</td><td>
				<strong>Time</strong><br />
				Update system clock
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/usbpendrive_unmount.png" />
			</td><td>
				<strong>Backup</strong><br />
				Persistent mechanism
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/kcmdf.png" />
			</td><td>
				<strong>Opt-Get</strong><br />
				Get more applications
			</tr></table>
		</a>
		</td>
	</tr>
	</table>
	<h2>Network</h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/internet_connection_tools.png" />
			</td><td>
				<strong>Internet</strong><br />
				Setup internet connection
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/sharemanager.png" />
			</td><td>
				<strong>Share</strong><br />
				Sharing files
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/firewall.png" />
			</td><td>
				<strong>Firewall</strong><br />
				Protect your system
			</tr></table>
		</a>
		</td>
	</tr>
	</table>
	<h2>Hardware</h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/mouse.png" />
			</td><td>
				<strong>Mouse</strong><br />
				Configure the input device
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/klaptop.png" />
			</td><td>
				<strong>Screen</strong><br />
				Change screen resolution
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/kmixdocked.png" />
			</td><td>
				<strong>Sound</strong><br />
				Adjust system sound
			</tr></table>
		</a>
		</td>
	</tr>
	</table>
