	<h2><span class="i18n">setting_personal</span></h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;wrapper&quot;); document.getElementById('wrapper').src = 'chrome://plate/content/template/lang.html'">
			<table><tr><td class="image">
				<img src="image/keyboard.png" />
			</td><td>
				<strong><span class="i18n">setting_language</span></strong><br />
				<span class="i18n">setting_language_desc</span>
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/karm.png" />
			</td><td>
				<strong><span class="i18n">setting_time_date</span></strong><br />
				<span class="i18n">setting_time_date_desc</span>
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/usbpendrive_unmount.png" />
			</td><td>
				<strong><span class="i18n">setting_backup</span></strong><br />
				<span class="i18n">setting_backup_desc</span>
			</tr></table>
		</a>
		</td>

	</tr>
	</table>
	<h2><span class="i18n">setting_system</span></h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;wrapper&quot;); document.getElementById('wrapper').src = 'chrome://plate/content/template/wifi.html'">		
			<table><tr><td class="image">
				<img src="image/wlassistant.png" />
			</td><td>
				<strong><span class="i18n">setting_wifi</span></strong><br />
				<span class="i18n">setting_wifi_desc</span>
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;wrapper&quot;);  document.getElementById('wrapper').src = 'chrome://plate/content/template/ethernet.html'">		
			<table><tr><td class="image">
				<img src="image/internet_connection_tools.png" />
			</td><td>
				<strong><span class="i18n">setting_ethernet</span></strong><br />
				<span class="i18n">setting_ethernet_desc</span>
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/kthememgr.png" />
			</td><td>
				<strong><span class="i18n">setting_opt</span></strong><br />
				<span class="i18n">setting_opt_desc</span>
			</tr></table>
		</a>
		</td>

	</tr>
	</table>
	<h2><span class="i18n">setting_hardware</span></h2>
	<table class="soft_background orange">
	<tr>		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/kmixdocked.png" />
			</td><td>
				<strong><span class="i18n">setting_sound</span></strong><br />
				<span class="i18n">setting_sound_desc</span>
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;wrapper&quot;); document.getElementById('wrapper').src = 'chrome://plate/content/template/video.html'">
			<table><tr><td class="image">
				<img src="image/klaptop.png" />
			</td><td>
				<strong><span class="i18n">setting_display</span></strong><br />
				<span class="i18n">setting_display_desc</span>
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/hardware.png" />
			</td><td>
				<strong><span class="i18n">setting_driver</span></strong><br />
				<span class="i18n">setting_driver_desc</span>
			</tr></table>
		</a>
		</td>
	</tr>
	</table>
