<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="../jquery-1.4.min.js"></script>
<script type="text/javascript" src="../plate.js"></script>
<script type="text/javascript">

function set_video() {
	$('.ventry').each(function() {
			output=$(this).text();
			mode=$('.vres option:selected').val();
			rotation=$('.vrot option:selected').text();
			system('/usr/bin/xrandr --output ' + output + ' --mode ' + mode + ' --rotation ' + rotation);
			setScreenSettings(output+'|'+mode+'|'+rotation);
	});
}

</script>
</head>
<body onload="system('/usr/local/bin/get_video'); update_div_ife('video-option', '/tmp/xrandr.out'); system('rm /tmp/xrandr.out');">

<div style="margin: 20px auto; width: 400px;">
<h2 style="border-bottom: 1px gray solid;">Video settings</h2>
<p>The following monitors were detected:</p>
<div id="video-option"></div>

</div>

</body>
</html>
