<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="../jquery-1.4.min.js"></script>
<script type="text/javascript" src="../plate.js"></script>

</head>
<body  onload="system('/usr/local/bin/get_ssid'); sleep(50); update_div('ap-option', '/tmp/wifi.opt'); update_div('nic', '/tmp/wifi.dev'); document.getElementById('passwd').disabled=true;">

<div style="margin: 20px auto; width: 400px;">
<h2 style="border-bottom: 1px gray solid;">Wireless Network</h2>

<label>Network Device: </label>
 <select id="nic"></select> 
 | <input type="button" value="Refresh" onclick="system('/usr/local/bin/get_ssid'); sleep(50); update_div('ap-option', '/tmp/wifi.opt'); update_div('nic', '/tmp/wifi.dev'); document.getElementById('passwd').disabled=true;" />

<p>Choose a network you want to join: </p>

<select size="5" id="ap-option" style="width: 300px;">
</select>

<p>
<input type="hidden" id="enctype">
<div id="ssid-line" style="display: none;"><label>SSID:</label> <input id="ssid" type="text" size="18" disabled /><br /></div>
<label>Password:</label> <input id="passwd" type="password" size="18" disabled /><br />
<input type="button" value="Connect" onclick="send_wifi(); $(this).attr('disabled', 'disabled'); $(this).attr('value', 'Done.');" />
</p>
</div>

</body>
</html>
