# Work-around for IDE devices that don't report media changes
SUBSYSTEMS=="ide", KERNEL=="hd[a-z]", ATTR{removable}=="1", \
	ENV{ID_MODEL}=="IOMEGA_ZIP*", OPTIONS+="all_partitions"
SUBSYSTEMS=="ide", KERNEL=="hd[a-z]", ATTRS{media}=="floppy", \
	OPTIONS+="all_partitions"

# Do not delete static device nodes
ACTION=="remove", NAME=="?*", TEST=="/lib/udev/devices/$name", \
	OPTIONS+="ignore_remove"
